* {
    box-sizing: border-box;
}

/*html {
    height:100%;
}*/




.row::after {
  content: '';
  clear: both;
  display: table;
}


.container {
  width:85%;
  /*max-width: 800px;*/
  padding: 15px 0;
  margin:0 auto;
}

/*
Bootstrap3
xs <768 phones
sm >=768 tablets
md >=992 small laptops
lg >=1200 laptops/desktops
*/

/*
Bootstrap4
xs <576 phones
sm >=576 portrait tablets & large phones
md >=768 landscape tablets
lg >=992 laptops & desktops
xl >=1200 large laptops & desktops
*/

.row::after {
    content: "";
    clear: both;
    display: table;
}

/*xs-phones*/
[class*="col-"] {
  float: left;
  padding: 15px;
  width: 100%;
}

/*sm-portrait tablets & large phones*/
@media only screen and (min-width:576px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

/*md-landscape tablets*/
@media only screen and (min-width:768px) {
}

/*lg-laptops & desktops*/
@media only screen and (min-width:992px) {
}

/*xl-large laptops & desktops*/
@media only screen and (min-width:1200px) {
}
