* {
    box-sizing: border-box;
}

html, body {
    /*font-family: 'sans-serif';*/
    background-color: #dadde3;
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 100%;
}

.row::after {
    content: '';
    clear: both;
    display: table;
}

.container {
    width: 100%;
    /*padding: 4px 0;/
    /*margin:0 auto;*/
}

/*Mobile View - 1 Column*/
/*[class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
}*/

/*Tablet View - 2 Column*/
@media only screen and (min-width:700px) {
    /*.col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    */
}

/*Desktop View - 4 Column*/
@media only screen and (min-width:1024px) {
}

/*Large View - 1440px*/
@media only screen and (min-width:1440px) {
    .container {
        width: 1440px;
        margin:0 auto;
        /*padding: 15px 0;*/
    }
}
