.flex-container {
    max-width: 1440px;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.side {
    flex: 100%;
    padding: 20px;
}

.main {
    flex: 100%;
    padding: 20px;
}


.filter-heading {
    width: 90%;
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
}

.filter-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filter {
    padding: 8px;
    background-color: white;
}

.launch {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/*Tablet View - 2 Column*/
@media only screen and (min-width:700px) {
    .side {
        flex: 15%;
        padding: 20px;
    }
    
    .main {
        flex: 85%;
        padding: 20px;
    }

}

/*Desktop View - 4 Column*/
@media only screen and (min-width:1024px) {
    .side {
        flex: 15%;
        padding: 20px;
    }
    
    .main {
        flex: 85%;
        padding: 20px;
    }
}
