.filter_container {
    float: left;
    width: 20%;
}

.filter {
    margin: 0 auto;
    width: 15%
}

.filter__heading {
    font-weight: bold;
    text-align: center;
}


.launch_container {
    float: right;
    width: 80%;
}