label {
    border-radius: 4px;
    border: 1px solid #D0D0D0;
    background-color: #c2d674;
    
    /*float:left;*/
    width: 64px;
    /*padding: 2px;*/
    margin: 2px 4px;
}

label:hover {
    background: #89a80c;
}

label span {
    text-align: center;
    padding: 2px 0px;
    display: block;
}

label input {
    position: absolute;
    top: -20px;
}

input[type='radio']:checked + span {
    background-color: #89a80c;
}